<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-networkspeed-tests" version="1.0.0">
  <name>Networkspeed Plugin Tests</name>
  <keywords> speed, net speed, network speed, internet speed</keywords>
   <js-module src="test.js" name="tests" />
</plugin>
